.topimage-cont {
    width: 100%;
    height: 100vh;
    background-image: url('/images/women1.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.top-container {
    padding: 20px;
    border-radius: 8px;
}

.top-container h1 {
    font-size: 4rem;
    margin-bottom: 10px;
    color: black;
    font-weight: 800;
}

.top-container p {
    font-size: 1.2rem;
    color: black;
    margin-bottom: 20px;
}

.top-container button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #ff4081;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}


.header{
    text-align: center;
    margin-top: 200px;
}

.about{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 30px;
    margin-right: 30px;
}


  /* Fade in when visible */
  .fade-left, .fade-right {
    opacity: 0;
    transform: translateX(0);
    transition: all 1s ease-in-out;
    border:0.5px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 90rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
   
  }
  
  .fade-left {
    transform: translateX(-50px); /* start left */
  }
  
  .fade-right {
    transform: translateX(50px); /* start right */
  }
  
  .show {
    opacity: 1;
    transform: translateX(0); /* move to normal position */
  }
  