/* *{
    margin: 0px;
    padding: 0px;
}

.signup-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signup-form{
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    height: 400px;
    width: 300px;
    display: flex;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    /* justify-items: center; */
    justify-content: center;
    align-items: center;
}

.error-msg{
    border: 1px solid red;
    color: red;
    width: fit-content;
} */